
  <ion-header >


    <ion-toolbar class="tool"> 
      <ion-buttons slot="start">
        <ion-button>
          <ion-back-button defaultHref="/tabs/tab1"></ion-back-button>
        </ion-button>
      </ion-buttons>
      <ion-title> </ion-title>
    </ion-toolbar>
    
  </ion-header>
  <img src="/assets/மல்பெரிஅறுவடை.jpeg"/>
  <p style="text-align: center;">மல்பெரி அறுவடை</p>
  <ion-content>

    <ion-segment [(ngModel)]="selectTabs">
      <ion-segment-button value="recent">
        <small>கிளை வெட்டும்</small>
      </ion-segment-button>
      <ion-segment-button value="missed">
        <small>இலை பறிக்கும்</small>
      </ion-segment-button>
      <ion-segment-button value="contacts">
        <small>மொட்டு பறிக்கும்</small>
      </ion-segment-button>
    </ion-segment>

    <div *ngIf="selectTabs ==='recent'">
  
                <ol>
                  <li>
                    இம்முறையில், கிளைகள் அடிப்பகுதிக்கு அருகில் வெட்டப்படுகின்றன
                  </li>
<li> இந்த முறையின் வகைகளில் ஒன்று வசந்த காலத்தில் வளரும் முன் அனைத்து கிளைகளையும் சேகரிப்பதாகும்.</li>
<li>இவற்றில் உருவாகும் புதிய தளிர்கள் பயன்படுத்தப்படுகின்றன. மற்றொரு முறையில், வசந்த காலத்தில் முதிர்ந்த பட்டுப்புழுக்களை வளர்க்கும் போது சேகரிப்பு செய்யப்படுகிறது.</li>
<li>சமீப காலங்களில், ஆண்டு முழுவதும் மல்பெரி தளிர்களை வளர்க்கும் நடைமுறை மிகவும் பிரபலமாகி வருகிறது.</li>
                </ol>
      </div>
      <div *ngIf="selectTabs === 'missed'">
        
        <ol>
          <li>
            இம்முறையில் தண்டு மற்றும் கிளைகளில் இருந்து இலைகளை மட்டுமே பறிக்க வேண்டும்
          </li>
          <li>
            இலைகளைப் பறிப்பதில் பல்வேறு வகைகள் உள்ளன. உதாரணமாக, இலைகள் பறிக்கப்படுகின்றன, இலை கத்தியின் ஒரு பகுதியை விட்டு விட்டு. மற்றொரு முறையில், இலைகளை விரலால் அல்லது இலை பறிக்கும் கருவியைப் பயன்படுத்தி, இலைக்காம்புகளின் மையத்திற்கு அருகில் பறிக்கப்படுகிறது
          </li>
          <li>
            மூன்றாவது முறையில், இலைகள் சீரற்ற முறையில் கையால் பறிக்கப்படுகின்றன. வளர்ந்த பட்டுப்புழுக்களை வளர்ப்பதற்கு அதிக எண்ணிக்கையிலான இலைகள் தேவைப்படுவதால், மூன்றாவது முறை பெரும்பாலும் பின்பற்றப்படுகிறது.
          </li>
        </ol>
        </div>
    <div *ngIf="selectTabs === 'contacts'">
    <ol>
      <li>
        இந்த முறையில் அனைத்து மொட்டுகளும் அதாவது இளம் இலைகளை தளிர்களில் இருந்து பறித்து, கோடை மற்றும் இலையுதிர் காலத்தில் இளம் பட்டுப்புழுக்களை வளர்க்க இந்த முறை பின்பற்றப்படுகிறது
      </li>
      <li>கிளை வெட்டுதல் மற்றும் துளிர் அறுவடை முறை இலைகளை பறிப்பதிலும் விநியோகிப்பதிலும் உழைப்பைச் சேமிக்கிறது;</li>
      <li>டுக்கையை மாற்றுதல் மற்றும் சுத்தம் செய்தல். இது தட்டுகள் மற்றும் அலமாரிகளின் எண்ணிக்கையையும் குறைக்கிறது.</li>
      <li>பட்டுப்புழுக்கள் தரையிலேயே அவற்றை அட்டை அல்லது காகிதத்தில் வைத்து உணவளிக்கின்றன. இருப்பினும், இந்த வழக்கில் ஒரு பெரிய வளர்ப்பு இடம் தேவைப்படுகிறது.</li>
      <li>கிளைகளில் இருக்கும் போது இலைகள் நீண்ட நேரம் புதியதாக இருக்கும்.</li>
    </ol>
        </div>
      
    
        <details>
          <summary>          அறுவடை முறையின் நன்மைகள்:</summary>
       <ol>
      <li>இலைகள் கிளைகளில் புதியதாக இருக்கும்.</li>
      <li> உழைப்பு 50% அளவிற்கு குறைக்கப்படுகிறது.</li>
      <li>ஒவ்வொரு கிலோ கொக்கூன் உற்பத்திக்கும் 2-3 கிலோ மல்பெரி இலைகள் சேமிக்கப்படுகிறது.</li>
      <li>சிறந்த தரம் மற்றும் அளவு கொக்கூன்களின் உற்பத்தி உறுதி செய்யப்படுகிறது.</li>
      <li>அதிக கரிம உரம் உற்பத்தி.</li>
      <li>புழுக்களை அடிக்கடி கையால் தொடாததாலும், புழுக்களின் கழிவுகளை அடியில் சேர்ப்பதாலும் நோய்கள் குறையும்.</li>
      <li>படுக்கையை மாற்றுவதற்கும் சுத்தம் செய்வதற்கும் வாய்ப்பில்லை.</li>
      <li>மேலும் வளர்ப்பு வீட்டில் சிறந்த காற்றோட்டம் மற்றும் வெளிச்சத்திற்கு நல்ல வாய்ப்பு உள்ளது.</li>
       </ol>
          </details>
<details>
  <summary>தீமைகள்:</summary>
  <ol>
    <li>
      பட்டு வளர்ப்புப் பயிர்களுக்கு ஆரம்பச் செலவு அதிகம்.
    </li>
    <li>பட்டுப்புழு வளர்ப்புக்கு, 30% அல்லது அதற்கு மேற்பட்ட இடம் தேவைப்படுகிறது.</li>
    <li>ஒவ்வொரு முறை பட்டுப்புழு வளர்க்கும் போதும், சீரமைப்பு இருக்கும். எனவே, மீண்டும் நடவு செய்வதற்கான பொருட்கள் கிடைக்காது.</li>
    <li>சில நிபுணர்களின் கூற்றுப்படி, நோய் ஏற்படும் போது, ​​நோயுற்ற புழுக்களை அகற்றுவது கடினமாக இருக்கும்.</li>
  </ol>
</details>


