<ion-header class="ion-no-border">
  <ion-toolbar>
   
    <ion-buttons slot="start">
      <ion-button>
        <ion-back-button defaultHref="/tabs/tab1"></ion-back-button>
      </ion-button>
    </ion-buttons>

    
  </ion-toolbar>

  <ion-item lines="none">
    <ion-avatar slot="start">
      <img src="/assets/nature love.png"/>
    </ion-avatar>
    <ion-label>
      <p>இலை துரு</p>
     
    </ion-label>
  </ion-item>
</ion-header>

<ion-content>
  <div class="slides ion-margin-bottom">
  
      
   
        <ion-card>
          <ion-card-header>
        
            <img src="/assets/இலை துரு.jpeg"/>
            <!-- <img class="files" src="https://i.ibb.co/jD8ypLq/files.jpg"> -->
          </ion-card-header>
        
        </ion-card>
     
  </div> 

  <div class="container">

    <p>நோய்க்கிருமி</p><li>செரோட்டிலியம் அத்தி</li>
   <p>நிகழ்வு</p><li>குளிர்காலம் மற்றும் மழைக்காலங்களில் இந்நோய் அதிகமாக இருக்கும். இது 45-50 டிஏபி முன்னேறத் தொடங்குகிறது, 70வது டிஏபியில் தீவிரமடைகிறது. முதிர்ந்த இலைகளில் நோய் தாக்கும் வாய்ப்பு அதிகம்</li>
   <p>பயிர் இழப்பு</p><li>  10-15%</li>
   <p>அறிகுறிகள்</p><li>ஆரம்பத்தில், வட்ட வடிவ முள் முனை அளவு பழுப்பு நிற வெடிப்பு புண்கள் இலைகளில் தோன்றும், பின்னர் இலைகள் மஞ்சள் நிறமாகி வாடிவிடும்..</li>
  
  <p>நோய் பரவுவதற்கு காரணமான காரணிகள்:</p>
  <ol>
    <li>இந்த நோய் காற்றில் பரவும் கொனிடியா மூலம் முதன்மையாக மழைத்துளிகள் மூலம் பரவுகிறது.</li>
    <li>24-26 ºC வெப்பநிலை மற்றும் 70-80% ஈரப்பதம் ஆகியவை நோய் வளர்ச்சிக்கு மிகவும் உகந்தவை.</li>
  </ol>
  <p>பின்பற்ற வேண்டிய கட்டுப்பாட்டு நடவடிக்கைகள்:</p>
  <ol>
    <li>0.2% பாவிஸ்டின் (கார்பென்டாசிம் 50% WP) கரைசலை இலைகளில் தெளித்தல்.</li>
    <li>பாதுகாப்பான காலம்: 5 நாட்கள்.</li>
  </ol>
</div>
</ion-content>
