<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button>
        <ion-back-button defaultHref="/tabs/tab1"></ion-back-button>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <p>இரசாயன உரம் மற்றும் தொழு உரமிடுதல்</p>
  <ol>
<small> 20 டன் தொழு உரத்தை, சமமாக இரண்டாகப் பிரித்து இருமுறை இடவேண்டும். ஒரு வருடத்திற்கு, வி1 இனத்திற்கு 350:140:140 கிலோ/எக்டர் என்ற அளவிலும் எஸ்36 இனத்திற்கு 300:130:120 கிலோ/எக்டர் என்ற அளவிலும் தழை, மணி மற்றும் சாம்பல் சத்தைச் சமமாகப் பிரித்து 5 முறை இடவேண்டும்.</small>
</ol>

 <youtube-player
  [videoId]="videoId"
  suggestedQuality="small"
  [startSeconds]="startSeconds"
  [endSeconds]="endSeconds"
  [height]="height"
  [width]="width"
>
</youtube-player> 
<ol>
<small>பட்டு வளர்ப்பு என்பது மல்பெரி மற்றும் பட்டுப்புழு ஆகிய இரண்டையும் சரியாகவும் தரமாகவும் வளர்ப்பதாகும். 

  இந்த காணொளியில் மண்ணின் தரத்தை உயர்த்துவதற்கான முறைகள் விவரிக்கப்பட்டுள்ளது. செடியின் மகசூல் மண்ணில் உள்ள சத்துக்களைப் பொருத்தே தண்டுகளின் வளர்ச்சி அதிகரிக்கும். இதனால் இராசயன உரங்களான அம்மோனியம் சல்பேட், சிங்கிள் சூப்பர் பாஸ்பேட், மியூரேட் ஆஃப் பொட்டாஸ் ஆகியவை கலந்து மண்ணில் இட வேண்டும்.இவற்றை எவ்வாறு மண்ணில் கலக்க செய்ய வேண்டும் என்று இக்காணொளியில் காண்போம்.</small>
</ol>
<youtube-player
  [videoId]="videoIds"
  suggestedQuality="small"
  [startSeconds]="startSeconds"
  [endSeconds]="endSeconds"
  [height]="height"
  [width]="width"
>
</youtube-player> 
</ion-content>
