<ion-header class="ion-no-border">
  <ion-toolbar>
   
    <ion-buttons slot="start">
      <ion-button>
        <ion-back-button defaultHref="/tabs/tab1"></ion-back-button>
      </ion-button>
    </ion-buttons>

    
  </ion-toolbar>

  <ion-item lines="none">
    <ion-avatar slot="start">
      <img src="/assets/nature love.png"/>
    </ion-avatar>
    <ion-label>
      <p>நுண்துகள் பூஞ்சை காளான்</p>
     
    </ion-label>
  </ion-item>
</ion-header>

<ion-content>
  <div class="slides ion-margin-bottom">
  
      
   
        <ion-card>
          <ion-card-header>
        
            <img src="/assets/பூஞ்சை காளான்.jpeg"/>
            <!-- <img class="files" src="https://i.ibb.co/jD8ypLq/files.jpg"> -->
          </ion-card-header>
        
        </ion-card>
     
  </div> 

  <div class="container">

    <p>நோய்க்கிருமி</p><li> ஃபிலாக்டினியா கோரிலியா</li>
   <p>நிகழ்வு</p><li>குளிர்காலம் மற்றும் மழைக்காலங்களில் நோய் பரவுகிறது மற்றும் 40வது டிஏபி/இலை அறுவடையில் 70வது டிஏபியில் தீவிரமடைகிறது.</li>
   <p>பயிர் இழப்பு</p><li> 5-10%</li>
   <p>அறிகுறிகள்</p><li>இலைகளின் கீழ் மேற்பரப்பில் வெள்ளை தூள் திட்டுகள் தோன்றும். மேல் மேற்பரப்பில் தொடர்புடைய பகுதிகள் குளோரோடிக் புண்களை உருவாக்குகின்றன. கடுமையான போது, ​​வெள்ளை தூள் திட்டுகள் பழுப்பு-கருப்பு நிறமாக மாறும்; இலைகள் மஞ்சள், கரடுமுரடான மற்றும் அவற்றின் ஊட்டச்சத்து மதிப்பை இழக்கின்றன.

    .</li>
  
  <p>நோய் பரவுவதற்கு காரணமான காரணிகள்:</p>
  <ol>
    <li>இந்த நோய் காற்றில் பரவும் கொனிடியா மூலம் முதன்மையாக காற்றின் மின்னோட்டத்தின் மூலம் பரவுகிறது..</li>
    <li>24 - 28º C வெப்பநிலை மற்றும் அதிக ஈரப்பதம் (75-80 %) தொற்று மற்றும் நோய் வளர்ச்சிக்கு காரணமாகும். .</li>
  </ol>
  <p>பின்பற்ற வேண்டிய கட்டுப்பாட்டு நடவடிக்கைகள்:</p>
  <ol>
    <li>தோட்டத்தின் பரந்த இடைவெளி (90 செமீ x 90 செமீ) அல்லது ஜோடி வரிசை நடவு முறை [(90 +150) × 60 செமீ] .</li>
    <li>இலைகளின் கீழ் மேற்பரப்பில் 0.2 % கரத்தேன் (டைனோகேப் 30% இசி) / பாவிஸ்டின் தெளித்தல். பாதுகாப்பான காலம் 5 நாட்கள்.</li>
    <li>அல்லது Sulfex (80WP) 0.2%, பாதுகாப்பான காலம் 15 நாட்கள் தெளிக்கவும்.</li>
  </ol>
</div>
</ion-content>
