<!-- 
<ion-header >
  <ion-toolbar class="tool"> 
    <ion-buttons slot="start">
      <ion-button>
        <ion-back-button defaultHref="/tabs/tab1"></ion-back-button>
      </ion-button>
    </ion-buttons>
    <ion-title> </ion-title>
  </ion-toolbar>
 
</ion-header>

<ion-content class="tool" >
<h3> கிருமி நீக்கம் செய்தல்</h3> 
<small> வளர்ப்பு மனையையும், வளர்ப்புச் சாதனங்களையும் இருமுறை கிருமி நீக்கம் செய்ய வேண்டும். அறுவடை முடிந்தவுடன் 5% பிளீச்சிங் பவுடரிலும், அடுத்து வளர்ப்பு தொடங்கும் 2 தினங்களுக்கு முன் 2.5% சேனிடெக் கொண்டும் கிருமி நீக்கம் செய்ய வேண்டும்.</small>
    <ion-grid>
      <ion-row>
        <ion-col>
          <table class="custom-table">
            <thead>
              <tr>
                <th>நாள்</th>
                <th>வேலையை </th>
                <th>வேலையின் விபரம்</th>
            
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>புழு வளர்ப்பு முடிந்தவுடன்</td>
                <td>1</td>
                <td>நோய்வாய்ப்பட்ட புழுக்கள், உருகிய மற்றும் கழிவான கூடுகளைச் சேகரித்து எரித்தல்</td>
                
              </tr>
              <tr>
                <td></td>
                <td>2</td>
                <td>கூடு கட்டு தட்டிகளில் உள்ள பட்டு கூட்டின் வெளியுறையை எரித்தும், புகை பரப்பியும் கிருமி நீக்கம் செய்ய வேண்டும்</td>
                
              </tr>
              <tr>
                <td></td>
                <td>3</td>
                <td>வளர்ப்பு மனை மற்றும் சாதனங்களை முதல் முறை கிருமி நீக்கம் செய்தல்</td>
            
              </tr>
              <tr>
                <td>புழு வளர்ப்பு தொடங்கும் 5 நாட்களுக்கு முன்பு</td>
                <td>4 </td>
                <td>வளர்ப்பு சாதனங்களை சுத்தம் செய்து கழுவுதல்</td>
               
              </tr>
              <tr>
                <td></td>
                <td>5 </td>
                <td>சூரிய ஒளியில் சாதனங்களைக் காயவைக்க வேண்டும்</td>
               
              </tr>
              <tr>
                <td>புழு வளர்ப்பு தொடங்கும் 4 நாட்களுக்கு முன்பு</td>
                <td>6 </td>
                <td>0.3% சுண்ணாம்பு கொண்டு கிருமி நீக்கம் செய்தல்</td>
               
              </tr>
              <tr>
                <td>புழு வளர்ப்பு தொடங்கும் 3 நாட்களுக்கு முன்பு</td>
                <td>7 </td>
                <td>இரண்டாம் முறையாக வளர்ப்பு மனையையும், சாதனங்களையும் கிருமி நீக்கம் செய்தல்</td>
               
              </tr>
              <tr>
                <td>புழு வளர்ப்பு தொடங்கும் 2 நாட்களுக்கு முன்பு</td>
                <td>8 </td>
                <td>வளர்ப்பு மனையின் முன்பும், வாயிலிலும் கிருமி நாசினி அடித்தல்</td>
               
              </tr>
              <tr>
                <td>புழு வளர்ப்பு தொடங்கும் 2 நாட்களுக்கு முன்பு</td>
                <td>9 </td>
                <td>காற்றோட்டம் உருவாக்க ஜன்னல்களைத் திறந்து வைத்தல்</td>
               
              </tr>
              <tr>
                <td>தொடங்கும் 1 நாளுக்கு முன்பு</td>
                <td>10 </td>
                <td>பட்டுபுழு வளர்ப்புக்கு தயாராதல்</td>
               
              </tr>
              
            
            </tbody>
          </table>
        </ion-col>
      </ion-row>
    </ion-grid>
  <br> 
  


</ion-content> -->
<ion-header>
  <ion-toolbar class="tool">
    <ion-buttons slot="start">
      <ion-button>
        <ion-back-button defaultHref="/tabs/tab1"></ion-back-button>
      </ion-button>
    </ion-buttons>
    <ion-title></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content><br>
  <p>கிருமி நீக்கம் செய்தல்</p>
  <ul>
    <li>வளர்ப்பு மனையையும், வளர்ப்புச் சாதனங்களையும் இருமுறை கிருமி நீக்கம் செய்ய வேண்டும்.</li>
    <li>அறுவடை முடிந்தவுடன் 5% பிளீச்சிங் பவுடரிலும், அடுத்து வளர்ப்பு தொடங்கும் 2 தினங்களுக்கு முன் 2.5% சேனிடெக் கொண்டும் கிருமி நீக்கம் செய்ய வேண்டும்.
  </li>
  </ul>
  <ion-grid>
    <ion-row>
      <ion-col>
        <div class="table-container">
          <table class="custom-table">
            <thead>
              <tr>
                <th>நாள்</th>
                <th>வேலையை</th>
                <th>வேலையின் விபரம்</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>புழு வளர்ப்பு முடிந்தவுடன்</td>
                <td>1</td>
                <td>நோய்வாய்ப்பட்ட புழுக்கள், உருகிய மற்றும் கழிவான கூடுகளைச் சேகரித்து எரித்தல்</td>
                
              </tr>
              <tr>
                <td></td>
                <td>2</td>
                <td>கூடு கட்டு தட்டிகளில் உள்ள பட்டு கூட்டின் வெளியுறையை எரித்தும், புகை பரப்பியும் கிருமி நீக்கம் செய்ய வேண்டும்</td>
                
              </tr>
              <tr>
                <td></td>
                <td>3</td>
                <td>வளர்ப்பு மனை மற்றும் சாதனங்களை முதல் முறை கிருமி நீக்கம் செய்தல்</td>
            
              </tr>
              <tr>
                <td>புழு வளர்ப்பு தொடங்கும் 5 நாட்களுக்கு முன்பு</td>
                <td>4 </td>
                <td>வளர்ப்பு சாதனங்களை சுத்தம் செய்து கழுவுதல்</td>
               
              </tr>
              <tr>
                <td></td>
                <td>5 </td>
                <td>சூரிய ஒளியில் சாதனங்களைக் காயவைக்க வேண்டும்</td>
               
              </tr>
              <tr>
                <td>புழு வளர்ப்பு தொடங்கும் 4 நாட்களுக்கு முன்பு</td>
                <td>6 </td>
                <td>0.3% சுண்ணாம்பு கொண்டு கிருமி நீக்கம் செய்தல்</td>
               
              </tr>
              <tr>
                <td>புழு வளர்ப்பு தொடங்கும் 3 நாட்களுக்கு முன்பு</td>
                <td>7 </td>
                <td>இரண்டாம் முறையாக வளர்ப்பு மனையையும், சாதனங்களையும் கிருமி நீக்கம் செய்தல்</td>
               
              </tr>
              <tr>
                <td>புழு வளர்ப்பு தொடங்கும் 2 நாட்களுக்கு முன்பு</td>
                <td>8 </td>
                <td>வளர்ப்பு மனையின் முன்பும், வாயிலிலும் கிருமி நாசினி அடித்தல்</td>
               
              </tr>
              <tr>
                <td>புழு வளர்ப்பு தொடங்கும் 2 நாட்களுக்கு முன்பு</td>
                <td>9 </td>
                <td>காற்றோட்டம் உருவாக்க ஜன்னல்களைத் திறந்து வைத்தல்</td>
               
              </tr>
              <tr>
                <td>தொடங்கும் 1 நாளுக்கு முன்பு</td>
                <td>10 </td>
                <td>பட்டுபுழு வளர்ப்புக்கு தயாராதல்</td>
               
              </tr>
              
            </tbody>
          </table>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
  <br>
</ion-content>
