<ion-header >
  <ion-toolbar class="tool"> 
    <ion-buttons slot="start">
      <ion-button>
        <ion-back-button defaultHref="/tabs/tab1"></ion-back-button>
      </ion-button>
    </ion-buttons>
    <ion-title> </ion-title>
  </ion-toolbar>
 
</ion-header>
<ion-content>
 
<div class="ion-text-center" >
  மல்பரி நடவு முறை
  </div>
 <ion-grid fixed>	
  <ion-row>	
  
 
  <ion-card-header>	
  <ion-card-subtitle><img src="/assets/seeding.jpeg" alt=></ion-card-subtitle>	<br><br>
  <ion-card-title>         <input type="checkbox" id="check">
    <p>1.நிலம் தேர்வு</p>
     <div class="content">
    
   <ol>
    <li>
       மல்பெரி நாற்று உற்பத்தி செய்ய 6.5 முதல் 7.0 வரை கார அமிலத்தன்மை கொண்ட வண்டல் கலந்த செம்மண் நிலம் சிறந்தது.</li>

    <li>  மூன்று முதல் நான்கு நாள்களுக்கு ஒரு முறை நீர்ப்பாசனம் செய்யக்கூடிய அளவு தண்ணீர் வசதி இருக்க வேண்டும்.</li>
    
    <li>  மல்பரி நடவு செய்யும் முன் அடியுரமாக ஏக்கருக்கு 8 முதல் 10 டன் தொழுஉரம் இடவேண்டும்.</li>
    <li>நிலத்தை 35செ.மீ ஆழத்திற்கு கொத்தியோ அல்லது உழவு செய்தோ பண்படுத்த வேண்டும்.</li>
    <li> பத்து அடி நீளம், 3 அடி அகலம் கொண்ட மேட்டுப்பாத்திகளை அமைக்க வேண்டும்.</li>
    <li>பாத்திக்கு பாத்தி ஒன்றரை அடி இடைவெளி விட்டு பாத்திகள் அமைத்தல் வேண்டும்.</li>
    <li>பாத்திகளின் இடையில் பாசனக் கால்வாய்கள் அமைக்க வேண்டும்.</li>
    <li>இவ்வாறு ஒரு ஏக்கரில் ஆயிரத்து 65 பாத்திகள் அமைத்தால் மல்பெர்ரில் நாற்று ரெடியாகும்.

    </li>
   </ol>
    
     </div>
     <label for="check">மேலும்</label></ion-card-title>	
  </ion-card-header>	
 



      </ion-row>	
      </ion-grid>	
      <ion-grid fixed>	
        <ion-row>	
        
          <p>2.மல்பரி நடவு முறை</p>
        <ion-card-header>	
        <ion-card-subtitle><img src="/assets/sed.jpeg" alt=></ion-card-subtitle>	<br><br>
        <ion-card-title>         <input type="checkbox" id="check">
          
           <div class="content">
          <ol>
            <li>
             இம்முறையில் இடைவெளி அதிகமாக இருப்பதால், விசைக்கருவி கொண்டு இடைஉழவு செய்வதற்கும், அறுவடை செய்த இலைகளை எடுத்துச் செல்வதற்கும், சொட்டுநீர்ப் பாசனம் அமைப்பதற்கும் ஏற்றதாக இருக்கும்.
            </li>
            <li>
              ஒரு ஏக்கரில் அதிகமான செடிகளை நடவு செய்யலாம்.</li>

<li>சுலபமாகவும், வேகமாகவும் இலைகளை எடுத்துச் செல்ல முடிவதால், ஈரப்பதம் குறைவதைத் தடுக்கமுடியும்</li>

<li>தண்டு அறுவடை செய்யப்படுவதால் 40% வேலையாட்கள் குறையும்.</li>
            
          </ol>
            <table class="custom-table">
              <thead>
                <tr>
                  <th>இடைவெளி</th>
                  <th>கிளை</th>
                  <th>செடி</th>
                
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>8*2=16</td>
                  <td>252</td>
                  <td>2723</td>
                 
                </tr>
                <tr>
                  <td>4*4=16</td>
                  <td>252</td>
                  <td>2723</td>
                
                </tr>
                <tr>
                  <td>(5*3)*2</td>
                  <td>12 </td>
                  <td>5445</td>
                
                </tr>
             
              
              </tbody>
            </table>
            
            
          
           </div>
           <label for="check">மேலும்</label></ion-card-title>	
        </ion-card-header>	
       
      
      
      
            </ion-row>	
            </ion-grid>	
</ion-content>
