<ion-header class="ion-no-border">
  <ion-toolbar>
   
    <ion-buttons slot="start">
      <ion-button>
        <ion-back-button defaultHref="/tabs/tab1"></ion-back-button>
      </ion-button>
    </ion-buttons>

    
  </ion-toolbar>

  <ion-item lines="none">
    <ion-avatar slot="start">
      <img src="/assets/nature love.png"/>
    </ion-avatar>
    <ion-label>
      <p>இலைப்புள்ளி</p>
     
    </ion-label>
  </ion-item>
</ion-header>

<ion-content>
  <div class="slides ion-margin-bottom">
  
      
   
        <ion-card>
          <ion-card-header>
        
            <img src="/assets/இலைப்புள்ளி.jpeg"/>
            <!-- <img class="files" src="https://i.ibb.co/jD8ypLq/files.jpg"> -->
          </ion-card-header>
        
        </ion-card>
     
  </div> 

  <div class="container">

    <p>நோய்க்கிருமி</p><li> செர்கோஸ்போரா மோரிகோலா</li>
   <p>நிகழ்வு</p><li>இது மழைக் காலத்தைத் தொடர்ந்து குளிர்காலத்தில் அதிகமாகக் காணப்படும். கத்தரித்தல் (டிஏபி)/இலை அறுவடை செய்த 35-40 நாட்களில் நோய் முன்னேறத் தொடங்கி 70வது டிஏபியில் தீவிரமடைகிறது</li>
   <p>பயிர் இழப்பு</p><li>10-12%</li>
   <p>அறிகுறிகள்</p><li>இலையின் மேற்பரப்பில் பழுப்பு நிற நெக்ரோடிக், ஒழுங்கற்ற புள்ளிகள் தோன்றும். புள்ளிகள் பெரிதாகி, விரிந்து, ஒன்றாக இணைகின்றன. நோய் தீவிரமடைவதால் இலைகள் மஞ்சள் நிறமாகி வாடிவிடும்.</li>
  
  <p>நோய் பரவுவதற்கு காரணமான காரணிகள்:</p>
  <ol>
    <li>இந்த நோய் காற்றில் பரவும் கொனிடியா மூலம் முதன்மையாக மழைத்துளிகள் மூலம் பரவுகிறது.</li>
    <li>24-26 ºC வெப்பநிலை மற்றும் 70-80% ஈரப்பதம் ஆகியவை நோய் வளர்ச்சிக்கு மிகவும் உகந்தவை.</li>
  </ol>
  <p>பின்பற்ற வேண்டிய கட்டுப்பாட்டு நடவடிக்கைகள்:</p>
  <ol>
    <li>0.2% பாவிஸ்டின் (கார்பென்டாசிம் 50% WP) கரைசலை இலைகளில் தெளித்தல்.</li>
    <li>பாதுகாப்பான காலம்: 5 நாட்கள்.</li>
  </ol>
</div>
</ion-content>
