<ion-header class="ion-no-border">
  <ion-toolbar>
   
    <ion-buttons slot="start">
      <ion-button>
        <ion-back-button defaultHref="/tabs/tab2"></ion-back-button>
      </ion-button>
    </ion-buttons>

    <ion-buttons slot="end">
      <ion-button class="bordered" fill="solid" color="light">
        <ion-icon color="custom" name="notifications"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>

  <ion-item lines="none">
    <ion-avatar slot="start">
      <img src="/assets/nature love.png"/>
    </ion-avatar>
    <ion-label>
      <p>பட்டுப்புழுவின் வாழ்க்கைச் சுழற்சி</p>
     
    </ion-label>
  </ion-item>
</ion-header>

<ion-content>
  <div class="slides ion-margin-bottom">
  
       
   
        <ion-card>
          <ion-card-header>
            <!-- <div class="main">
              <img src="/assets/nature love.png"/>
            </div> -->
            <img src="/assets/cy.png"/>
            <!-- <img class="files" src="https://i.ibb.co/jD8ypLq/files.jpg"> -->
          </ion-card-header>
          <!-- <ion-card-content class="ion-text-left">
            <ion-card-title class="ion-margin-bottom">Google Drive</ion-card-title>
            <ion-card-subtitle class="ion-text-right">10/50GB</ion-card-subtitle>
            <ion-progress-bar value="0.4" color="warning"></ion-progress-bar>
          </ion-card-content> -->
        </ion-card>
     
  </div> 

  <div class="container">
    <p>1.நிலை:முட்டை</p>
    <small>
      பட்டுப்புழுவின் வாழ்க்கை சுழற்சியின் முதல் நிலை முட்டை. பெண் அந்துப்பூச்சியால் முட்டை இடப்படுகிறது, இது முதன்மையாக ஒரு சிறிய புள்ளியின் அளவு. ஒரு நேரத்தில், ஒரு பெண் அந்துப்பூச்சி 350 முட்டைகள் வரை இடும். வசந்த காலத்தில் வெப்பமான காற்று காரணமாக, முட்டைகள் குஞ்சு பொரிக்கின்றன. இந்த நடைமுறை வருடத்திற்கு ஒரு முறை நடக்கும்.
    </small>
    <p>2.நிலை:பட்டுப்புழு</p>
    <small>
      வெடித்த முட்டைகள் ஒரு முடி கொண்ட பட்டுப்புழுவை வெளியிடுகின்றன. இந்த நேரத்தில், பட்டுப்புழுக்கள் விரிவடையத் தொடங்குகின்றன. அடுத்த கட்டத்திற்குச் செல்வதற்கு முன், அவர்கள் சுமார் 30 நாட்களுக்கு நிறைய மல்பெரி இலைகளை சாப்பிடுகிறார்கள்.
    </small>
    <p>நிலை 3:கொக்கூன்</p>
    <small>பட்டு அந்துப்பூச்சி 30 நாட்களுக்குப் பிறகு இந்த நிலையை அடைகிறது. இந்த நிலையில், பட்டுப்புழு பெரும்பாலும் ஒளிஊடுருவக்கூடியதாகவும் மஞ்சள் நிறமாகவும் மாறும். பட்டுப்புழு இப்போது தற்காப்பு அடுக்கில் தன்னை இணைத்துக் கொள்ளத் தொடங்கியுள்ளது. இந்த பாதுகாப்பு பூச்சு அல்லது மூடுதல் ஒரு கொக்கூன் என அழைக்கப்படுகிறது. கூட்டை ஒரு சிறிய பருத்தி பந்தைப் போன்ற ஒற்றை பட்டு நூலால் ஆனது. கூட்டை முழுமையாக வளர இரண்டு நாட்கள் ஆகும்.</small>
    <p>நிலை 4: பியூபா</p>
    <small>பியூபா நிலையில் மட்டுமே பட்டுப்புழு முற்றிலும் அசைவற்று இருக்கும். அவர்கள் பியூபா நிலையில் இருக்கும்போது, ​​மக்கள் பட்டு நூலை அவிழ்ப்பதற்காக கொக்கூனை குமிழி தண்ணீரில் நனைத்து பியூபாவைக் கொல்வார்கள்.</small>
    <p>நிலை 5: அந்துப்பூச்சி</p>
    <small>பட்டுப்பூச்சி வெளிவருவதற்கு முன் 10 முதல் 14 நாட்கள் கூடு நிலையில் இருக்க வேண்டும். பியூபா ஒரு பட்டுப்பூச்சியாக மாறும்போது வாழ்க்கைச் சுழற்சி முடிவடைகிறது.

      அது முழுமையாக உருவானவுடன், பட்டு அந்துப்பூச்சி தனது துணையைத் தேடத் தொடங்குகிறது. பட்டு அந்துப்பூச்சி இனச்சேர்க்கைக்காக துணையை ஈர்க்க பெரோமோன்கள் எனப்படும் பொருட்களை உருவாக்குகிறது. இனச்சேர்க்கைக்குப் பிறகு, பெண் பட்டு அந்துப்பூச்சி மல்பெரி இலைகளின் மேற்பரப்பில் 350 முட்டைகளை இடுகிறது. இந்த முட்டைகள் ஒவ்வொன்றும் தங்கள் வாழ்க்கைச் சுழற்சிகளைத் தனித்தனியாகத் தொடங்குகின்றன.</small>
  </div> 
  
</ion-content>
