<ion-header [translucent]="true">
  <ion-toolbar>
    
    <ion-buttons slot="start">
      <ion-button>
        <ion-back-button defaultHref="/tabs/tab1"></ion-back-button>
      </ion-button>
    </ion-buttons>
    <ion-title></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <h2>தமிழ்நாடு அரசு - பட்டு வளர்ச்சித்துறை</h2>
  <img src="/assets/8.jpeg"/>
  <h2>தொடர்புக்கு</h2>
  <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-bs-parent="#accordion">
    <div class="card-body">
        <div class="row">
            <div class="col-md-4 mb-3">
              <h2>திரு. தா.மோ. அன்பரசன்</h2>
              <p>
                  மாண்புமிகு அமைச்சர். குறு, சிறு மற்றும் நடுத்தரத் தொழில் நிறுவனங்கள் துறை. <br />
                  மின்னஞ்சல் : <br />
                  தொலைபேசி : 044-25674020
              </p>
            </div>
            <div class="col-md-4 mb-3">
              <h2>திரு. தர்மேந்திர பிரதாப் யாதவ், I.A.S.</h2>
              <p>
                  முதன்மை செயலாளர் <br>கைத்தறி, கைவினைப் பொருட்கள், ஜவுளி மற்றும் காதி துறை <br />
                  மின்னஞ்சல் : htksec[at]tn[dot]gov[dot]in <br />
                  தொலைபேசி : 044-25671623 (O),  25672261 (Fax)
              </p>
            </div>
            <div class="col-md-4 mb-3">
              <h2>சந்திரசேகர சகாமுரி, IAS</h2>
              <p>
                  பட்டு வளர்ச்சித்துறை இயக்குனர். <br />
                  மின்னஞ்சல் : tnsericulture[at]gmail[dot]com <br />
                  தொலைபேசி : 0427-2313655 (O), 0427-2313656 (Fax)
              </p>
            </div>
        </div>
    </div>
  </div>
  
<details>
  <summary>  இயக்குநரகம் - சேலம்    </summary>
  <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-bs-parent="#accordion">
    <div class="card-body">
        <div class="row">
            <div class="col-md-4 mb-3">
              <h5>P.முருகன்,</h5>
              <p>
                  இணை இயக்குநர்,<br />
                  நேதாஜி நகர், ஹஸ்தம்பட்டி,<br />
                  சேலம் - 636 007.<br />
                  மின்னஞ்சல் : tnsericulture[at]gmail[dot]com <br />
                  தொலைபேசி : 0427 – 2313164
              </p>
            </div>
            <div class="col-md-4 mb-3">
              <h5>L.சந்திரசேகரன்,</h5>
              <p>
                  துணை இயக்குநர் (PRC)(i/c)<br />
                  நேதாஜி நகர், ஹஸ்தம்பட்டி,<br />
                  சேலம் - 636 007.<br />
                  மின்னஞ்சல் : tnsericulture[at]gmail[dot]com <br />
                  தொலைபேசி : 0427 – 2313161
              </p>
            </div>
            <div class="col-md-4 mb-3">
              <h5>P.முருகன்,</h5>
              <p>
                  துணை இயக்குநர் (POC)(i/c)<br />
                  நேதாஜி நகர், ஹஸ்தம்பட்டி,<br />
                  சேலம் - 636 007 <br />
                  மின்னஞ்சல் : tnsericulture[at]gmail[dot]com <br />
                  தொலைபேசி : 0427 – 2313161
              </p>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-4 mb-3">
              <h5>P.முருகன்,</h5>
              <p>
                  துணை இயக்குநர் (PLS)(i/c),<br />
                  நேதாஜி நகர், ஹஸ்தம்பட்டி,<br />
                  சேலம் - 636 007.<br />
                  மின்னஞ்சல் : tnsericulture[at]gmail[dot]com <br />
                  தொலைபேசி : 0427 – 2313161
              </p>
            </div>
            <div class="col-md-4 mb-3">
              <h5>P. சுப்பிரமணியம்,</h5>
              <p>
                  துணை இயக்குநர் நிர்வாகம்,<br />
                  நேதாஜி நகர், ஹஸ்தம்பட்டி,<br />
                  சேலம் - 636 007.<br />
                  மின்னஞ்சல் : tnsericulture[at]gmail[dot]com <br />
                  தொலைபேசி : 0427 – 2313162
              </p>
            </div>
            <div class="col-md-4 mb-3">
              <h5>C.பழனிசாமி</h5>
              <p>
                  கணக்கு அதிகாரி பட்ஜெட்,<br />
                  நேதாஜி நகர், ஹஸ்தம்பட்டி,<br />
                  சேலம் - 636 007.<br />
                  மின்னஞ்சல் : tnsericulture[at]gmail[dot]com <br />
                  தொலைபேசி : 0427 – 2313162
              </p>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-4 mb-3">
              <h5>தர்மலிங்கம்</h5>
              <p>
                  கணக்கு அதிகாரி தணிக்கை,<br />
                  நேதாஜி நகர், ஹஸ்தம்பட்டி,<br />
                  சேலம் - 636 007.<br />
                  மின்னஞ்சல் : tnsericulture[at]gmail[dot]com <br />
                  தொலைபேசி : 0427 – 2313162
              </p>

            </div>
            <div class="col-md-4 mb-3">

            </div>
            <div class="col-md-4 mb-3">

            </div>
        </div>
    </div>
</div>

</details>
<details>
  <summary> தருமபுரி மண்டலம்</summary>
    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-bs-parent="#accordion">
      <div class="card-body">
          <div class="row">
              <div class="col-md-4 mb-3">
                <h5>L.சந்திரசேகரன்,</h5>
                                        <p>
                                            மண்டல இணை இயக்குநர்,<br />
                                            சோகத்தூர், அரசு பட்டு பண்ணை<br />
                                            பென்னாகரம் மெயின் ரோடு,<br />
                                            வாரியார் மேல்நிலைப்பள்ளிக்கு எதிரில்,<br />
                                            தருமபுரி 638 809.<br />
                                            மின்னஞ்சல் : rjdseridpi[at]gmail[dot]com <br />
                                            தொலைபேசி : 04342-291382
                                        </p>
              </div>
              <div class="col-md-4 mb-3">
                <h5>K.செல்வி,</h5>
                <p>
                    உதவி  இயக்குனர், (i/c)<br />
                    தின்னூர், ஓசூர் 635109.<br />
                    மின்னஞ்சல் : adserihosur[at]gmail[dot]com <br />
                    தொலைபேசி : 04344-225628
                </p>
              </div>
              <div class="col-md-4 mb-3">
                <h5>N.Ramesh,</h5>
                <p>
                    Asst. Director of Sericulture,<br />
                    Thally Road, Denkanikottai,<br />
                    Krishnagiri District -635107<br />
                    Email : adseridkk[at]gmail[dot]com<br />
                    Phone No : 04347-291588
                </p>
              </div>
          </div>
          <br />
          <div class="row">
              <div class="col-md-4 mb-3">
                <h5>Tmt.E.Shanmugapriya,</h5>
                <p>
                    Asst. Director of Sericulture,<br />
                    Bangalore Road, London Pet,<br />
                    Krishnagiri 635 001.<br />
                    Email : krishnagiriadseri[at]gmail[dot]com<br />
                    Phone No :04343-235070
                </p>
              </div>
              <div class="col-md-4 mb-3">
                <h5>P.Annamalai,</h5>
                <p>
                    Asst. Director of Sericulture,<br />
                    Krishnagiri Main Road,<br />
                    Near Four Road, Dharmapuri 636 701.<br />
                    Email : adseridpi[at]gmail[dot]com<br />
                    Phone No : 04342-260870
                </p>
              </div>
              <div class="col-md-4 mb-3">
                <h5>S.R.Nisha,</h5>
                <p>
                    Asst. Director of Sericulture,<br />
                    Paruvadanahalli, Nullahalli,<br />
                    B.Agraharam (P), Pennagaram - 636 813.<br />
                    Email : seripgm[at]gmail[dot]com<br />
                    Phone No : 04342- 255665
                </p>
              </div>
          </div>
          <br />
          <div class="row">
              <div class="col-md-4 mb-3">
                <h5>L.Kalasomappa</h5>
                <p>
                    Asst. Director of Sericulture , (i/c)<br />
                    Government Cross Breed Grainage,<br />
                    Denkanikottai Road,<br />
                    Dinnur, Hosur 635 109.<br />
                    Email : serihsrgrg[at]gmail[dot]com<br />
                    Phone No :
                </p>
              </div>
              <div class="col-md-4 mb-3">
                <h5>V.Thippuraj</h5>
                <p>
                    Asst. Director of Sericulture,<br />
                    Government Cross Breed Grainage,<br />
                    Bangalore Road, London Pet,<br />
                    Krishnagiri 635 001.<br />
                    Email : serikrigrg[at]gmail[dot]com<br />
                    Phone No :
                </p>
              </div>
              <div class="col-md-4 mb-3">
  
              </div>
          </div>
      </div>
  </div>

</details>
<details>
  <summary> ஈரோடு மண்டலம்</summary>
</details>
<details>
  <summary>வேலூர் மண்டலம்</summary>
</details>
<details>
  <summary>திருச்சி மண்டலம்</summary>
</details>
<details>
  <summary> மதுரை மண்டலம்</summary>
</details>
<details>
  <summary>ஓசூர் விதை துறை</summary>
</details>

</ion-content>
