
<ion-header class="ion-no-border">
  <ion-list lines="none">
    <ion-item color="success">

    </ion-item>
    <ion-item color="success">
      <ion-label>மல்பெரி சாகுபடி 
        வளர்ப்பு முறை
        </ion-label>
      <ion-avatar slot="end">
        <img src="/assets/nature love.png"/>
      </ion-avatar>
    </ion-item>
  </ion-list>
  
</ion-header>
<ion-content>
<ion-card>
  
  <ion-grid>
      <p>மல்பெரி ரகம்</p>
    <ion-row>
      <ion-col>
        <div (click)="goTomulberry()"><ion-card class="level"><img src="assets/mulberry.jpg" style="height: 100%;width: 100% ;" /></ion-card></div> 
        <p>மல்பெரி ரகம்</p>
        
      </ion-col>
      <ion-col>
        <div (click)="goTomulberryseedling()"><ion-card class="level"><img src="assets/mul.jpeg" style="height: 100%;width: 100% ;" /></ion-card></div>
        <p>மல்பரி நடவு முறை</p>
        
        
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid>
    <ion-row>
      <ion-col>
        <div (click)="goTodiseases()"><ion-card class="level"  ><img src="assets/3.webp" style="height: 100%;width: 100% ;" /></ion-card></div> 
       <p>இலைகளின் நோய் அறிகுறிகள் </p>
      
      </ion-col>
      <ion-col>
        <div (click)="goToirrigation()"><ion-card class="level"><img src="assets/water.jpeg" style="height: 100%;width: 100% ;" /></ion-card></div>
       <p>நீர் மேலாண்மை</p>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid>
    <ion-row>
      <ion-col>
        <div (click)="goTomanuring()" ><ion-card class="level" ><img src="assets/chemical.jpeg" style="height: 100%;width: 100% ;" /></ion-card></div> 
        <p>இரசாயன உரம் மற்றும் தொழு உரமிடுதல்</p>
      </ion-col>
      <ion-col>
        <div (click)="goToharvesting()"><ion-card class="level"><img src="assets/மல்பெரிஅறுவடை.jpeg" style="height: 100%;width: 100% ;" /></ion-card></div>

        <p>மல்பெரி அறுவடை முறை</p>
      </ion-col>
      <ion-col>
        <div (click)="goTomulberrysaplings()"><ion-card class="level"><img src="assets/department.png" style="height: 100%;width: 100% ;" /></ion-card></div>

        <p>மல்பெரி மரக்கன்றுகள் விற்பனை</p>
      </ion-col>
    </ion-row>
  </ion-grid>
   
</ion-card>

</ion-content>