.table-container {
    overflow-x: auto;
    background-color: rgb(215, 217, 215);
  }
  
  .custom-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
  }
  
  .custom-table th,
  .custom-table td {
    border: 1px solid rgb(9, 236, 28);
    padding: 8px;
    text-align: left;
  }
  
  /* Responsive adjustments */
  @media (max-width: 767px) {
    .custom-table th,
    .custom-table td {
      font-size: 10px; /* Adjust font size for better readability on smaller screens */
    }
  }
 