
<ion-header >
  <ion-toolbar class="tool"> 
    <ion-buttons slot="start">
      <ion-button>
        <ion-back-button defaultHref="/tabs/tab1"></ion-back-button>
      </ion-button>
    </ion-buttons>
    <ion-title> </ion-title>
  </ion-toolbar>
 
</ion-header>

<ion-content class="tool" >
<h3>மல்பெரி இனங்கள்</h3> 
<ion-grid>
  <ion-row>
    <ion-col>
      <div class="table-container">
        <table class="custom-table">
          <thead>
            <tr>
              <th>மல்பெரி இனங்கள்</th>
                <th>வருடம்</th>
                <th>வடிவம்</th>
                <th>உற்பத்தி</th>

                
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>வி-1 (V-1)</td>
              <td>1997</td>
              <td>இலைகள் நீள்வட்ட வடிவமாகவும், அகலமாகவும், அடர்பச்சையாகவும் சதைப்பற்றாகவும் இருக்கும்</td>
              <td>20,000 – 24,000 கிலோ இலை</td>
            </tr>
            <tr>
              <td>எஸ்-36 (S-36)</td>
              <td>1990</td>
              <td>இலைகள் இதயவடிவில், தடிமனாகவும், இளம்பச்சையாகவும், பளபளப்பாகவும் இருக்கும்</td>
              <td>20,000 – 24,000 கிலோ</td>
            </tr>
            <tr>
              <td>எம்.ஆர்.-2</td>
              <td>1970 </td>
              <td>இளம்பச்சையாகவும், பளபளப்பாகவும் இருக்கும்</td>
              <td>10,000 – 12,000 கிலோ இலை</td>
            </tr>
            <tr>
              <td>G4</td>
              <td>2003</td>
              <td>இலைகள் அடர் பச்சை, மடல் இல்லாத, தடிமனான, அலை அலையான மேற்பரப்புடன் இருக்கும்.</td>
              <td>65 மெட்ரிக் டன் மகசூல்</td>
            </tr>
          </tbody>
        </table>
      </div>
    </ion-col>
  </ion-row>
</ion-grid>


    <div class="ion-text-center" >
      <ion-text class="subav" color="success">
      <h2>மல்பெரி</h2>
    </ion-text>
    <p><b>V1</b></p>
      </div>
     <ion-grid fixed>	
      <ion-row>	
      <ion-col size="12" size-xs="12"	sixe-sm="6"	size-md="4"	size-lg="6">	
      <ion-card class="venki" >	
      <ion-card-header>	
      <ion-card-subtitle><img src="/assets/mulberry.jpg" alt=></ion-card-subtitle>	<br><br>
      <ion-card-title>         <input type="checkbox" id="check">
       <p>
        வி-1  ரகம் அதிக மகசூலைக் கொடுக்கக்கூடிய பட்டு வளர்ப்பிற்கு ஏற்ற இரகங்கள் ஆகும். பட்டுப்புழுக்கள் நன்கு வளர, இந்த இரு ரகங்களும் நல்ல சத்தான இலைகளை கொடுக்கின்றன. இவ்விரு ரகங்கம் பற்றி விவரமாகப் பார்ப்போம். .</p>
         <div class="content">
       <ol>
        <li>
        இந்த ரகம் 1997ல் மைசூரில் உள்ள பட்டு ஆராய்ச்சி நிறுவனத்தால் வெளியிடப்பட்டது. இது ஒரு பிரபலமான ரகம் ஆகும்.</li>

        <li> இலைகள் நீள்வட்ட வடிவமாகவும், அகலமாகவும், அடர்பச்சையாகவும் சதைப்பற்றாகவும் இருக்கும்.</li>
        
        <li> ஒரு ஏக்கருக்கு, ஒரு வருடத்தில் 20,000 - 24,000 கிலோ இலை உற்பத்தி கிடைக்கும்.</li>
       </ol>
        
         </div>
         <label for="check">மேலும்</label></ion-card-title>	
      </ion-card-header>	
      </ion-card>	
      </ion-col>	

    
    
          </ion-row>	
          </ion-grid>	
        
</ion-content>
