

<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <div class="container">
    <form class="mt-4 p-4 rounded shadow bg-light">

      <div class="text-center mb-4">
        <h2 class="mb-3">Login</h2>
        <p>Welcome! Please enter your details.</p>
      </div>

      <div class="form-group">
        <label for="name">Name</label>
        <input type="text" class="form-control" id="name" name="name" [(ngModel)]="email" required>
      </div>

      <div class="form-group">
        <label for="phoneNumber">Password</label>
        <input type="text" class="form-control" id="phoneNumber" name="phoneNumber" [(ngModel)]="password" required>
      </div>

      <button class="btn btn-success btn-block mt-3" expand="full" (click)="login()">Login</button>

      <div class="text-center mt-3">
        <p>Don't have an account? <a href="#">Sign up</a></p>
      </div>
    </form>
  </div>
</ion-content>
