<ion-header class="ion-no-border">
  <ion-toolbar>
   
    <ion-buttons slot="start">
      <ion-button>
        <ion-back-button defaultHref="/tabs/tab2"></ion-back-button>
      </ion-button>
    </ion-buttons>

    <ion-buttons slot="end">
      <ion-button class="bordered" fill="solid" color="light">
        <ion-icon color="custom" name="notifications"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>

  <ion-item lines="none">
    <ion-avatar slot="start">
      <img src="/assets/nature love.png"/>
    </ion-avatar>
    <ion-label>
     
     
    </ion-label>
  </ion-item>
</ion-header>

<ion-content>
  <div class="slides ion-margin-bottom">
  
       
   
        <ion-card>
          <ion-card-header>
            <!-- <div class="main">
              <img src="/assets/nature love.png"/>
            </div> -->
            <p>பட்டுப்புழு வளர்ப்பில் கிடைக்கும் கழிவை உரமாக பயன்படுத்துதல்     </p>
       
            <ol>
              <li>பொதுவாக பட்டுப்புழு வளர்ப்பு பண்ணைகளில், வளர்ப்பு படுக்கைகளில் மீதியாகும் மல்பெரி இலைகள் மற்றும் இதர கழிவுகள், பட்டுப்பூச்சியின் கழிவு இவற்றை சரியாக பயன்படுத்தி உயர் மதிப்புள்ள உரங்களை தயாரிப்பது இல்லை. எனவே பொருத்தமான தொழில்நுட்பத்தை பின்பற்றி பட்டுப்புழு வளர்ப்பு பண்ணையின் கழிவுகளை மதிப்பு மிக்க உரமாக மாற்றலாம்.

              </li>
            </ol>
            <img src="/assets/fert.jpeg"/>
            <!-- <img class="files" src="https://i.ibb.co/jD8ypLq/files.jpg"> -->
          </ion-card-header>
          <!-- <ion-card-content class="ion-text-left">
            <ion-card-title class="ion-margin-bottom">Google Drive</ion-card-title>
            <ion-card-subtitle class="ion-text-right">10/50GB</ion-card-subtitle>
            <ion-progress-bar value="0.4" color="warning"></ion-progress-bar>
          </ion-card-content> -->
        </ion-card>
     
  </div> 

  <div class="container">
    <p>செய்முறை</p>
    <small>
      ஒரு ஏக்கருக்கு பண்ணை கழிவுகளை  சேகரிக்க 3x1x1 மீ  என்ற அளவுகளில் இரண்டு குழிகள் போதுமானது.

      பட்டுப்புழு கழிவு, படுக்கையில் மீதியாகும் இலைகள், களைகள் இவற்றை ஒவ்வொரு நாளும் ஒரு மெல்லிய படுக்கையாக சேகரிக்க வேண்டும். அப்படுக்கையின் மீது புது மாட்டு சாணம், சாம்பல் மற்றும் நீர்  தெளிக்க வேண்டும்.
      
      வளர்ப்பு முடிவில், தோட்டத்தில்  மீதியாகும் இலைகள், இளம் மல்பெரி கிளைகள் இவற்றையும் உர குழியில் சேர்க்க வேண்டும்.
      
      12 -15 டன்  ஒரு ஹெக்டரிலிருந்து பட்டுப்புழு வளர்ப்பு கழிவாக மல்பெரி  உருவாக்கப்படும். இதில் 280-300 கிலோ நைட்ரஜன், 90 கிலோ பாஸ்பரஸ் மற்றும் 750 கிலோ பொட்டாசியம் உள்ளது.
      
      சூப்பர் பாஸ்பேட்டும் உரத்தை வளப்படுத்துவதற்காக சேர்க்கப்படுகிறது. குழி நிறைந்து தரைமட்டத்திலிருந்து 30-40 செ.மீ  உயரம் வரும் பொழுது மாட்டு சாணம் மற்றும் மண்ணை 2.5 செ.மீ அளவிற்கு ஒரு அடுக்காக உருவாக்க வேண்டும்.  குழி நேரடி சூரிய ஒளியிலிருந்து பாதுகாக்க வேண்டும். உரத்தை மட்க செய்வதற்கு அஸ்பார்ஜில்லஸ் எஸ்பி, டிரைக்கோடெர்மா எஸ்பி, மற்றும் பேலோரோமைசிஸ் என்ற பூஞ்சாண கொல்லி கலவையை 1 கிலோ/டன் என்ற அளவில் பட்டுப்புழு வளர்ப்பு  பண்ணை  இயற்கை கழிவுடன் சேர்க்க வேண்டும்.
      
      காற்று மற்றும் காற்றில்லா முறையில் ஒரு ஹெக்டர் பட்டுப்புழு வளர்ப்பு பண்ணையிலிருந்து  தோராயமாக 10 -15 டன்  நன்கு மட்கிய ஊட்டச்சத்து  நிறைந்த உரம் ஒவ்வொரு வருடமும் உருவாக்கலாம். இந்த உரத்தில் தோராயமாக 30% ஈரப்பதம், 2.0-2.24% தழைசத்து, 93-1.0% மணிசத்து மற்றும் 1.5-1.8% நுண்ணூட்ட துத்தநாகம், இரும்பு, மாங்கனீசு மற்றும் தாமிரம் கலந்த நுண்ணூட்ட உரமாக இருக்கும். இந்த உரம் பண்ணை எருவுடன் ஒப்பிடும் பொழுது உயர்ந்திருப்பது கண்டிறியப்பட்டுள்ளது. இதில் 0.3-0.4 தழை சத்து, 0.2-0.4% மணிசத்து, 0.3-0.6% சாம்பல்சத்து உள்ளது.
      
          </small>
    <p>...</p>
    <p>பட்டுபுழு வளர்ப்பு கழிவு பொருட்களை பயன்படுத்தி மண்புழு உரம் தயாரித்தல்</p>
    <small>
      <ion-grid>
        <ion-row>
          <ion-col>
            <div class="table-container">
              <table class="custom-table">
                <thead>
                  <tr>
                    <th>
                      ஊட்டச்சத்து</th>
                      <th>மண்புழு உரம்</th>
                      <th>உயர்தர  தொழுவுரம்</th>
                     
      
                      
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>தழைச்சத்து</td>
                    <td>1.875-2.0%</td>
                    <td>0.3-0.5%</td>
                
                  </tr>
                  <tr>
                    <td>மணிச்சத்து</td>
                    <td>0.6-.09%</td>
                    <td>0.2-0.4%</td>
                  </tr>
                  <tr>
                    <td>சாம்பல்ச்சத்து</td>
                    <td>1.0-1.5% </td>
                    <td>0.3-.6%</td>
                
                  </tr>
                  <tr>
                    <td>துத்தநாகம்</td>
                    <td>84.6பிபிஎம்</td>
                    <td>14.5பிபிஎம்.</td>
                  </tr>
                  <tr>
                    <td>இரும்பு</td>
                    <td>1247 பிபிஎம்</td>
                    <td>1465பிபிஎம்.</td>
                  </tr>
                  <tr>
                    <td>மாங்கனீசு</td>
                    <td>509.7பிபிஎம்</td>
                    <td>69.0பிபிஎம்.</td>
                  </tr>
                  <tr>
                    <td>தாமிரம்</td>
                    <td>61.5பிபிஎம்</td>
                    <td>2.8பிபிஎம்</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
      
 </small>
   
  </div> 
  
</ion-content>
