summary{
    color:rgb(3, 71, 22);
    height:50px;
    width: 600px;
    background-color: rgb(241, 183, 108);
    padding: 10px;
}
h2{
    font-size: 17px;
    text-align: center;
    font-weight: bold;
    color: green;
}
p{
    font-size: small;
}