<ion-header class="ion-no-border">
  <ion-toolbar>
   
    <ion-buttons slot="start">
      <ion-button>
        <ion-back-button defaultHref="/tabs/tab1"></ion-back-button>
      </ion-button>
    </ion-buttons>

    <ion-buttons slot="end">
      <ion-button class="bordered" fill="solid" color="light">
        <ion-icon color="custom" name="notifications"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>

  <ion-item lines="none">
    <ion-avatar slot="start">
      <img src="/assets/nature love.png"/>
    </ion-avatar>
    <ion-label>
      <p>நீர்ப்பாசன முறைகள்</p>
     
    </ion-label>
  </ion-item>
</ion-header>

<ion-content>
  <div class="slides ion-margin-bottom">
  
       
   
        <ion-card>
          <ion-card-header>
            <!-- <div class="main">
              <img src="/assets/nature love.png"/>
            </div> -->
            <img src="/assets/water.jpeg"/>
            <!-- <img class="files" src="https://i.ibb.co/jD8ypLq/files.jpg"> -->
          </ion-card-header>
          <!-- <ion-card-content class="ion-text-left">
            <ion-card-title class="ion-margin-bottom">Google Drive</ion-card-title>
            <ion-card-subtitle class="ion-text-right">10/50GB</ion-card-subtitle>
            <ion-progress-bar value="0.4" color="warning"></ion-progress-bar>
          </ion-card-content> -->
        </ion-card>
     
  </div> 

  <div class="container">
    <p>1.உரோம முறை</p>
    <small>
      இந்த முறையில், மல்பெரி தோட்டம் ஒரு தொடர் முகடுகளாகவும், பள்ளங்களாகவும் (சேனல்கள்) அமைக்கப்பட்டு, பள்ளங்கள் முழுவதும் தண்ணீர் வழங்கப்படுகிறது.
    </small>

    <p>2.சொட்டு நீர் பாசனம்</p>
    <small>
      சொட்டு நீர் பாசனத்தில், நுண்குழாய்கள் மூலம் வேர் மண்டலத்திற்கு அருகில் தேவையான அளவு தண்ணீர் விடப்படுகிறது. சொட்டு நீர் பாசனம் மூலம், சால் பாசன முறையுடன் ஒப்பிடுகையில், குறைந்தபட்ச உழைப்புடன் சுமார் 40% பாசன நீரை சேமிக்க முடியும்.
    </small>
  </div> 
  <ol>
    <li>
    தேவையான இடத்தில் தண்ணீர் கொடுக்கப்படுவதால் மண் அரிப்பு மற்றும் களை வளர்ச்சியைத் தவிர்க்கவும் இது உதவுகிறது. 
    </li>
    <li>
      தோட்டத்தின் ஜோடி வரிசை அமைப்பில் இது ஆதாயமாகப் பயன்படுத்தப்படலாம்.
      </li>
  </ol>
</ion-content>
